<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>WatchNet</string>
    <key>CFBundleDisplayName</key>
    <string>WatchNet</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_mqtt._tcp</string>
        <string>_http._tcp</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app requires access to devices on your local network.</string>
</dict>
